<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace: 自定义mapper中，要等于接口的全类名
-->
<mapper namespace="com.atguigu.demo.mapper.EmployeeMapper">
    <!--
      想编写什么sql,就用什么标签
      <insert>
      id ： 接口对应的方法名
      resultType: 查询结果的一行封装的类型
      占位符： 一个参数时，内容随便写
              多个参数时，写bean的属性值
      -->
    <select id="getEmpById" resultType="com.atguigu.demo.bean.Employee">
        select * from employee where id = #{feafa}
    </select>

    <delete id="deleteEmpById" >
        delete from employee where id = #{feafa}
    </delete>

    <update id="updateEmp" >
        update employee
            set last_name=#{last_name}, gender=#{gender}, email=#{email}
        where id = #{xxxx}
    </update>

    <insert id="insertEmp" >
        insert into employee(last_name, gender, email)
        values (#{last_name},#{gender},#{email})
    </insert>

    <select id="getAll" resultType="com.atguigu.demo.bean.Employee">
        select * from employee
    </select>

</mapper>